QCheckBox, QGroupBox, QRadioButton {
  color: #c5e0e0;
}

QCheckBox::indicator {
  border-radius: 3px;
}

QCheckBox::indicator, QRadioButton::indicator {
  background-color: transparent;
  border: 1px solid #c5e0e0;
  height: 12px;
  margin: 3px 0px;
  width: 12px;
}

QCheckBox::indicator:checked {
  background-clip: content;
  background-color: #c5e0e0;
  height: 8px;
  padding: 2px;
  width: 8px;
}

QCheckBox::indicator:unchecked:hover, QRadioButton::indicator:unchecked:hover {
  background-color: #366666;
}

QDialog {
  background-color: #1a2e2e;
  border: 1px solid #386b6b;
  border-radius: 4px;
}

QHeaderView {
  background-color: #1a2e2e;
  border-bottom: 1px solid #386b6b;
  color: #c5e0e0;
}

QLabel {
  color: #c5e0e0;
}

#engineAnalysis {
  background-color: #223a3a;
  border: 1px solid #386b6b;
  border-radius: 4px;
  qproperty-alignment: AlignTop;
}

#engineName, #humanName, #notifications {
  background-color: #223a3a;
  border: 1px solid #386b6b;
  border-radius: 4px;
  qproperty-alignment: AlignCenter;
}

QLineEdit {
  background-color: #223a3a;
  border: 1px solid #386b6b;
  border-radius: 4px;
  color: #c5e0e0;
  qproperty-alignment: AlignCenter;
}

QLineEdit:focus {
  background-color: #1a2e2e;
  border: 1px solid #4d8080;
}

QLineEdit:hover {
  background-color: #284545;
  border: 1px solid #4d8080;
}

QLineEdit[invalid="true"] {
  background-color: red;
  border: 1px solid darkred;
  color: black;
}

QMainWindow {
  background-color: #1a2e2e;
  border: 1px solid #386b6b;
}

QMenu {
  background-color: #223a3a;
  border: 1px solid #386b6b;
  border-radius: 4px;
  padding: 6px 6px 6px 10px;
}

QMenu::item {
  background-color: transparent;
  color: #c5e0e0;
  margin: 2px;
  padding: 4px 20px 4px 20px;
}

QMenu::item:selected {
  background-color: #366666;
  border-radius: 2px;
}

QMenu::separator {
  background-color: #386b6b;
  height: 1px;
  margin: 8px;
}

QMenuBar {
  background-color: #1a2e2e;
  border-bottom: 1px solid #386b6b;
  color: #c5e0e0;
  font-weight: bold;
}

QMenuBar::item:selected {
  background-color: #366666;
}

QPushButton {
  background-color: #386b6b;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
}

QPushButton:disabled {
  background-color: #223a3a;
  color: #6b9999;
}

QPushButton:hover {
  background-color: #4b7d7d;
}

QPushButton:pressed {
  background-color: #223a3a;
}

QProgressBar {
  background-color: white;
  border: 1px solid #386b6b;
  border-radius: 4px;
  color: #437f7f;
  font-weight: bold;
  text-align: center;
}

QProgressBar::chunk {
  background-color: black;
  border-radius: 3px;
}

QRadioButton::indicator {
  border-radius: 7px;
}

QRadioButton::indicator:checked {
  background-color: qradialgradient(
    cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5,
    stop: 0 #c5e0e0, stop: 0.45 #c5e0e0, stop: 0.55 transparent, stop: 1 transparent
  );
}

QStatusBar {
  background-color: #1a2e2e;
  border-top: 1px solid #386b6b;
  color: #c5e0e0;
}

QStatusBar QLabel {
  padding-left: 1px;
  padding-right: 1px;
}

QTableView {
  background-color: #223a3a;
  border: 1px solid #386b6b;
  border-radius: 4px;
  color: #c5e0e0;
  gridline-color: #386b6b;
  selection-background-color: #366666;
  selection-color: #c5e0e0;
}

QTableView::item:hover {
  background-color: #366666;
}

QToolBar {
  background-color: #1a2e2e;
  border-bottom: 1px solid #386b6b;
  padding: 4px;
  spacing: 4px;
}

QToolTip {
  background-color: #223a3a;
  border: 1px solid #386b6b;
  border-radius: 4px;
  color: #c5e0e0;
  font-weight: bold;
}

SvgBoard {
  qproperty-coord: #c5e0e0;
  qproperty-inner_border: #386b6b;
  qproperty-margin: #223a3a;
  qproperty-outer_border: #386b6b;
  qproperty-square_dark: #4d8585;
  qproperty-square_dark_lastmove: #3d6e6e;
  qproperty-square_light: #84b5b5;
  qproperty-square_light_lastmove: #699494;
}
