QCheckBox, QGroupBox, QRadioButton {
  color: #183557;
}

QCheckBox:disabled, QGroupBox:disabled, QRadioButton:disabled {
  color: #385576;
}

QCheckBox::indicator {
  border-radius: 3px;
}

QCheckBox::indicator, QRadioButton::indicator {
  background-color: transparent;
  border: 1px solid #183557;
  height: 12px;
  margin: 3px 0px;
  width: 12px;
}

QCheckBox::indicator:checked {
  background-clip: content;
  background-color: #183557;
  height: 8px;
  padding: 2px;
  width: 8px;
}

QCheckBox::indicator:checked:disabled {
  background-color: #385576;
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled {
  border: 1px solid #385576;
}

QCheckBox::indicator:unchecked:hover, QRadioButton::indicator:unchecked:hover {
  background-color: #97b6d3;
}

QDialog {
  background-color: #87a6c3;
  border: 1px solid #4d85bd;
  border-radius: 4px;
}

QHeaderView {
  background-color: #87a6c3;
  border-bottom: 1px solid #4d85bd;
  color: #183557;
}

QLabel {
  color: #183557;
}

QLabel:disabled {
  color: #385576;
}

#engineAnalysis {
  background-color: #97b6d3;
  border: 1px solid #4d85bd;
  border-radius: 4px;
  qproperty-alignment: AlignTop;
}

#engineName, #humanName, #notifications {
  background-color: #97b6d3;
  border: 1px solid #4d85bd;
  border-radius: 4px;
  qproperty-alignment: AlignCenter;
}

QLineEdit {
  background-color: #97b6d3;
  border: 1px solid #4d85bd;
  border-radius: 4px;
  color: #183557;
  qproperty-alignment: AlignCenter;
}

QLineEdit:disabled {
  color: #385576;
}

QLineEdit:focus {
  background-color: #87a6c3;
  border: 1px solid #183557;
}

QLineEdit:hover {
  background-color: #8dabc8;
  border: 1px solid #3d75ad;
}

QLineEdit[invalid="true"] {
  background-color: red;
  border: 1px solid darkred;
  color: black;
}

QMainWindow {
  background-color: #87a6c3;
  border: 1px solid #4d85bd;
  qproperty-disabled_icon_color: #385576;
  qproperty-icon_color: #183557;
}

QMenu {
  background-color: #97b6d3;
  border: 1px solid #4d85bd;
  border-radius: 4px;
  padding: 6px 6px 6px 10px;
}

QMenu::item {
  background-color: transparent;
  color: #183557;
  margin: 2px;
  padding: 4px 20px 4px 20px;
}

QMenu::item:disabled {
  color: #385576;
}

QMenu::item:selected {
  background-color: #85a1bb;
  border-radius: 2px;
}

QMenu::separator {
  background-color: #4d85bd;
  height: 1px;
  margin: 8px;
}

QMenuBar {
  background-color: #87a6c3;
  border-bottom: 1px solid #4d85bd;
  color: #183557;
  font-weight: bold;
}

QMenuBar::item:selected {
  background-color: #97b6d3;
}

QPushButton {
  background-color: #4178af;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
}

QPushButton:disabled {
  background-color: #97b6d3;
  color: #385576;
}

QPushButton:hover {
  background-color: #396898;
}

QPushButton:pressed {
  background-color: #183557;
}

QProgressBar {
  background-color: white;
  border: 1px solid #4d85bd;
  border-radius: 4px;
  color: #4179b0;
  font-weight: bold;
  text-align: center;
}

QProgressBar::chunk {
  background-color: black;
  border-radius: 3px;
}

QRadioButton::indicator {
  border-radius: 7px;
}

QRadioButton::indicator:checked {
  background-color: qradialgradient(
    cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5,
    stop: 0 #183557, stop: 0.45 #183557, stop: 0.55 transparent, stop: 1 transparent
  );
}

QRadioButton::indicator:checked:disabled {
  background-color: qradialgradient(
    cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5,
    stop: 0 #385576, stop: 0.45 #385576, stop: 0.55 transparent, stop: 1 transparent
  );
}

QStatusBar {
  background-color: #87a6c3;
  border-top: 1px solid #4d85bd;
  color: #183557;
}

QStatusBar QLabel {
  padding-left: 1px;
  padding-right: 1px;
}

QTableView {
  background-color: #97b6d3;
  border: 1px solid #4d85bd;
  border-radius: 4px;
  color: #183557;
  gridline-color: #4d85bd;
  selection-background-color: #85a1bb;
  selection-color: #183557;
}

QTableView::item:hover {
  background-color: #85a1bb;
}

QToolBar {
  background-color: #87a6c3;
  border-bottom: 1px solid #4d85bd;
  padding: 4px;
  spacing: 4px;
}

QToolTip {
  background-color: #97b6d3;
  border: 1px solid #7796b3;
  border-radius: 4px;
  color: #183557;
  font-weight: bold;
}

SvgBoard {
  qproperty-coord: #183557;
  qproperty-inner_border: #4d85bd;
  qproperty-margin: #97b6d3;
  qproperty-outer_border: #183557;
  qproperty-square_dark: #4d85bd;
  qproperty-square_dark_lastmove: #3d75ad;
  qproperty-square_light: #d4e5f2;
  qproperty-square_light_lastmove: #7796b3;
}
