QCheckBox, QGroupBox, QRadioButton {
  color: #27371b;
}

QCheckBox::indicator {
  border-radius: 3px;
}

QCheckBox::indicator, QRadioButton::indicator {
  background-color: transparent;
  border: 1px solid #27371b;
  height: 12px;
  margin: 3px 0px;
  width: 12px;
}

QCheckBox::indicator:checked {
  background-clip: content;
  background-color: #27371b;
  height: 8px;
  padding: 2px;
  width: 8px;
}

QCheckBox::indicator:unchecked:hover, QRadioButton::indicator:unchecked:hover {
  background-color: #8fa187;
}

QDialog {
  background-color: #95a88c;
  border: 1px solid #506f46;
  border-radius: 4px;
}

QHeaderView {
  background-color: #95a88c;
  border-bottom: 1px solid #506f46;
  color: #27371b;
}

QLabel {
  color: #27371b;
}

#engineAnalysis {
  background-color: #a5b69c;
  border: 1px solid #506f46;
  border-radius: 4px;
  qproperty-alignment: AlignTop;
}

#engineName, #humanName, #notifications {
  background-color: #a5b69c;
  border: 1px solid #506f46;
  border-radius: 4px;
  qproperty-alignment: AlignCenter;
}

QLineEdit {
  background-color: #a5b69c;
  border: 1px solid #506f46;
  border-radius: 4px;
  color: #27371b;
  qproperty-alignment: AlignCenter;
}

QLineEdit:focus {
  background-color: #95a88c;
  border: 1px solid #27371b;
}

QLineEdit:hover {
  background-color: #9aad91;
  border: 1px solid #3f5a2e;
}

QLineEdit[invalid="true"] {
  background-color: red;
  border: 1px solid darkred;
  color: black;
}

QMainWindow {
  background-color: #95a88c;
  border: 1px solid #506f46;
}

QMenu {
  background-color: #a5b69c;
  border: 1px solid #506f46;
  border-radius: 4px;
  padding: 6px 6px 6px 10px;
}

QMenu::item {
  background-color: transparent;
  color: #27371b;
  margin: 2px;
  padding: 4px 20px 4px 20px;
}

QMenu::item:selected {
  background-color: #8fa187;
  border-radius: 2px;
}

QMenu::separator {
  background-color: #506f46;
  height: 1px;
  margin: 8px;
}

QMenuBar {
  background-color: #95a88c;
  border-bottom: 1px solid #506f46;
  color: #27371b;
  font-weight: bold;
}

QMenuBar::item:selected {
  background-color: #a5b69c;
}

QPushButton {
  background-color: #506f46;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
}

QPushButton:disabled {
  background-color: #85987c;
  color: #a5b69c;
}

QPushButton:hover {
  background-color: #3f5a2e;
}

QPushButton:pressed {
  background-color: #27371b;
}

QProgressBar {
  background-color: white;
  border: 1px solid #506f46;
  border-radius: 4px;
  color: #5b7f50;
  font-weight: bold;
  text-align: center;
}

QProgressBar::chunk {
  background-color: black;
  border-radius: 3px;
}

QRadioButton::indicator {
  border-radius: 7px;
}

QRadioButton::indicator:checked {
  background-color: qradialgradient(
    cx: 0.5, cy: 0.5, radius: 0.5, fx: 0.5, fy: 0.5,
    stop: 0 #27371b, stop: 0.45 #27371b, stop: 0.55 transparent, stop: 1 transparent
  );
}

QStatusBar {
  background-color: #95a88c;
  border-top: 1px solid #506f46;
  color: #27371b;
}

QStatusBar QLabel {
  padding-left: 1px;
  padding-right: 1px;
}

QTableView {
  background-color: #a5b69c;
  border: 1px solid #506f46;
  border-radius: 4px;
  color: #27371b;
  gridline-color: #506f46;
  selection-background-color: #8fa187;
  selection-color: #27371b;
}

QTableView::item:hover {
  background-color: #8fa187;
}

QToolBar {
  background-color: #95a88c;
  border-bottom: 1px solid #506f46;
  padding: 4px;
  spacing: 4px;
}

QToolTip {
  background-color: #a5b69c;
  border: 1px solid #85987c;
  border-radius: 4px;
  color: #27371b;
  font-weight: bold;
}

SvgBoard {
  qproperty-coord: #27371b;
  qproperty-inner_border: #506f46;
  qproperty-margin: #a5b69c;
  qproperty-outer_border: #27371b;
  qproperty-square_dark: #8b6b47;
  qproperty-square_dark_lastmove: #755a3c;
  qproperty-square_light: #b8c6a3;
  qproperty-square_light_lastmove: #85987c;
}
